<!DOCTYPE html>
<html>
<head>
	<title>Miikey</title>
</head>
<body>
	<h1>Hello guy</h1>
	<p>This is <b>my</b> website</p>
	<a href="https://google.com" target="_blank" title="let's go goole ">Link!!!</a>
	<p>My name is : </br>
	Nguyen An Nam</p>
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbjKGJGOEHEqlFBjkjx_ttmKKeQS0Qx-ZGx_d65ZDVWg&s">
</body>

</html>